<ng-container *ngIf="showRegistrationOnly; else fullApp">
  <!-- When the flag is true, only render the router outlet -->
  <router-outlet></router-outlet>
</ng-container>

<ng-template #fullApp>
  <!-- Main application content -->
  <header>
    <h1>Welcome to the Main Application</h1>
  </header>
  <main>
    
    <!-- Router outlet for inner routes -->
    <router-outlet></router-outlet>
    
    <ng-container *ngIf="showHomeOnly">
      <a routerLink="/register">Go to Registration</a><br>
      <a routerLink="/home/catalogue">Go to Catalogue</a>
    </ng-container>

  </main>
</ng-template>
