<ng-container *ngIf="showRegistrationOnly; else fullApp">
  <!-- When the flag is true, only render the router outlet -->
  <router-outlet></router-outlet>
</ng-container>

<ng-template #fullApp>
  <!-- Main application content -->
  <header>
    <h1>Welcome to the Main Application</h1>
  </header>
  <main>
    
    <!-- Router outlet for inner routes -->
    <router-outlet></router-outlet>
    
    <ng-container *ngIf="showHomeOnly">
      <a routerLink="/register">Go to Registration</a><br>
      <a routerLink="/home/catalogue">Go to Catalogue</a>

      <app-interactable
      [initialLeft]="'10%'"
      [initialTop]="'5%'"
      [initialWidth]="'30%'"
      [initialHeight]="'50%'"
      [minWidth]="'20%'"
      [minHeight]="'20%'"
      [draggable]="true"
      [resizable]="true">
      <div style="padding: 10px;">
        <app-cup-preview
          [cup]="{
            id: 'cup1',
            name: 'Classic Mug',
            modelUrl: 'assets/models/Mug.obj',
            mtlUrl: 'assets/models/Mug.mtl'
          }"
          [canvasWidth]="'200%'"
          [canvasHeight]="'100%'"
        ></app-cup-preview>
      </div>
    </app-interactable>

    </ng-container>

  </main>
</ng-template>
