<h2>Our Mug Catalog</h2>
<div class="catalog-grid">
    <!-- Loop through your cup items -->
    <div class="catalog-item" *ngFor="let cup of cups" title="Click to customize this cup">
        <app-cup-preview 
          [cup]="{ id: cup.id, name: cup.name, modelUrl: cup.modelUrl, mtlUrl: cup.mtlUrl}"
          [redirectUrl]="'/editor/' + cup.id"
          [canvasWidth]="'30%'"
          [canvasHeight]="'20%'">
        </app-cup-preview>
        <p>{{ cup.name }}</p>
      </div>
      <br>
    <a routerLink="/home">Go to Home</a>
</div>